.sidebar
  nav.sidebar-nav
    ul.nav-list
      li.nav-item
        a.nav-link(href="/admin/dashboard") Tổng quan
      li.nav-item
        a.nav-link(href=`${prefixAdmin}/products`) Danh sách sản phẩm 
      li.nav-item
        a.nav-link(href=`${prefixAdmin}/product-categories`) Danh mục sản phẩm
      li.nav-item
        a.nav-link(href=`${prefixAdmin}/roles`) Nhóm quyền